```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*
.envrc
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/
*.coveragerc
.tox/
nox/
.hypothesis/
.DS_Store
Thumbs.db
```